.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.flexible-container {
  min-width: 800px;
  max-width: 1400px;
  /*width: 95%;*/
  margin: auto;
  padding: 0 50px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 900px;
}

body.with-dimmer {
  overflow: hidden;
}

/*.skype_c2c_text_span {
  font: inherit!important;
}*/

.is-hidden {
  display: none!important;
}

section h2 {
  font-size: 1.5rem;
  text-transform: uppercase;

  text-align: center;
  margin: 20px 0 50px 0;
}

section {
  padding: 30px 0;
  background-color: #efefef;
}
